<!DOCTYPE html>
<html>
<head>
    <title>首页</title>

    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
    <div id="header_background"></div>
    <div id="header_list">
        <a id="homeBtn" href="/console" title="返回我的主页">
            <img src="/images/my-icon.png" class="img-circle" style="width: 60px;height: 60px"/>
        </a>
        <div class="col-md-12">
            <h1 style="color: #ffffff">William Liang</h1>
        </div>
        <div class="col-md-12">
            <h4 style="color: #3c3c3c">富则兼济天下,穷则独善其身</h4>
        </div>
        <div class="col-md-12">
            <h5 style="color: #fff">用情怀来做技术</h5>
        </div>
        <div class="col-md-12" style="padding-top: 50px">
            <a id="blogBtn" href="/console/blogs" class="btn" title="前往博客页面" style="margin: 10px;color: #fff;border:1px solid #ffffff">博客</a>
            <a href="javascript:;" class="btn" style="margin: 10px;color: #fff;border:1px solid #ffffff">兴趣</a>
            <a href="javascript:;" class="btn" style="margin: 10px;color: #fff;border:1px solid #ffffff">关于</a>
        </div>
    </div>
</header>
<div id="content">
    <div class="main-post-list">
        <ol class="post-list">
            <li>
                <h2 class="post-list__post-title post-title"><a href="/shen-ru-li-jie-javascript-promise/" title="link to 深入理解Javascript Promise">深入理解Javascript Promise</a></h2>
                <p class="excerpt">本文完成进度40% 校稿0% 声明：本文是 JavaScript Promises ... In Wicked Detail 的简体中文版本。 我在我的javascript代码中用promise已经好一整子了，他们一开始绝对会让你抓狂。尽管我现在已经用的很溜了，但是当我对其刨根问底的时候，我发现我并不完全理解他们是如何工作的。这篇文章表达了我的决心。如果你能坚持到最后一个句点，那么你应该也能很好的理解promise了。   我们将会一点点的创建一个非常接近Promises/A+ spec的pro…</p>
                <div class="post-list__meta"><time datetime="04 May 2015" class="post-list__meta--date date">04 May 2015</time> • <span class="post-list__meta--tags tags"></span><a class="btn-border-small" href="/shen-ru-li-jie-javascript-promise/">继续阅读</a></div>
                <hr class="post-list__divider">
            </li>
        </ol>

        <hr class="post-list__divider ">

        <nav class="pagination" role="navigation">
            <span class="pagination__page-number">1 / 2</span>
            <a class="older-posts pagination__older btn btn-small btn-tertiary" href="/page/2/#blog">更早 →</a>
        </nav>

    </div>
</div>
<script type="text/javascript" src="/javascripts/libs/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("header").css("width","30%");
        $("#header_background").css("width","30%");
    });

/*    $("#homeBtn").click(function(){
        $("header").css("width","100%");
        $("#header_background").css("width","100%");
    });

    $("#blogBtn").click(function(){
        $("header").css("width","30%");
        $("#header_background").css("width","30%");
    })*/
</script>
</body>
</html>