<!DOCTYPE html>
<html>
<head>
    <title>首页</title>

    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
    <div id="header_background"></div>
    <div id="header_list">
        <a id="homeBtn" href="/console" title="返回我的主页">
            <img src="/images/my-icon.png" class="img-circle" style="width: 60px;height: 60px"/>
        </a>
        <div class="col-md-12">
            <h1 style="color: #ffffff">William Liang</h1>
        </div>
        <div class="col-md-12">
            <h4 style="color: #3c3c3c">富则兼济天下,穷则独善其身</h4>
        </div>
        <div class="col-md-12">
            <h5 style="color: #fff">用情怀来做技术</h5>
        </div>
        <div class="col-md-12" style="padding-top: 50px">
            <a id="blogBtn" href="/console/blogs" class="btn" title="前往博客页面" style="margin: 10px;color: #fff;border:1px solid #ffffff">博客</a>
            <a href="javascript:;" class="btn" style="margin: 10px;color: #fff;border:1px solid #ffffff">兴趣</a>
            <a href="javascript:;" class="btn" style="margin: 10px;color: #fff;border:1px solid #ffffff">关于</a>
        </div>
    </div>
</header>
<div id="content">
    <div class="main-post-list">
        <ol class="post-list">
            <%
                var essaies = essaies?essaies:[];
                for(var i=0;i < essaies.length;i++)
                    {
            %>
            <li>
                <h2 class="post-list__post-title post-title"><a href="javascript:"><%=essaies[i].title%></a></h2>
                <p class="excerpt"><%=essaies[i].content%></p>
                <div class="post-list__meta"><time datetime="04 May 2015" class="post-list__meta--date date">04 May 2015</time> • <span class="post-list__meta--tags tags"></span><a class="btn-border-small" href="javascript:">继续阅读</a></div>
                <hr class="post-list__divider">
            </li>
            <%}%>
        </ol>

        <hr class="post-list__divider ">

        <nav id="blogPagination" class="pagination" role="navigation">
            <!--<span class="pagination__page-number">1 / 2</span>-->
            <!--<a class="older-posts pagination__older btn btn-small btn-tertiary" href="/page/2/#blog">更早 →</a>-->
        </nav>

    </div>
</div>
<script type="text/javascript" src="/javascripts/libs/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/bootstrap-paginator.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("header").css("width","30%");
        $("#header_background").css("width","30%");

        if ($("#blogPagination")) {
            var itemPerPage =<%= locals.rows %>;
            var start =<%= locals.start %>;
            var total =<%= locals.count %>;
            var currentPage = Math.ceil((start + 1) / itemPerPage);
            var totalPage = Math.ceil(total / itemPerPage);
            currentPage = currentPage == 0 ? 1 : currentPage;
            totalPage = totalPage == 0 ? 1 : totalPage;
            var options = {
                currentPage  : currentPage,
                totalPages   : totalPage,
                numberOfPages: itemPerPage,
                size         : "small",
                alignment    : "right",
                listContainerClass: "pagination pagination-sm pagi",
                onPageClicked: function (e, originalEvent, type, page) {
                    location.href = "/console/blogs?start=" + (page - 1) * itemPerPage
                            + "&rows=" + itemPerPage;
                }
            };

            $('#blogPagination').bootstrapPaginator(options);
            $('#blogPagination').css({"width": "100%", "padding-right": "20px", "margin": 0,"margin-bottom": "40px"});
        }
    });

/*    $("#homeBtn").click(function(){
        $("header").css("width","100%");
        $("#header_background").css("width","100%");
    });

    $("#blogBtn").click(function(){
        $("header").css("width","30%");
        $("#header_background").css("width","30%");
    })*/
</script>
</body>
</html>