<!DOCTYPE html>
<html>
<head>
    <title>首页</title>

    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>
<script type="text/javascript" src="/javascripts/libs/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/bootstrap-paginator.js"></script>
<body>
<header style="width: 30%">
    <div id="header_background" style="width: 30%"></div>
    <div id="header_list">
        <a id="homeBtn" href="/console" title="返回我的主页">
            <img src="/images/my-icon.png" class="img-circle" style="width: 60px;height: 60px"/>
        </a>
        <div class="col-md-12">
            <h1 style="color: #ffffff">William Liang</h1>
        </div>
        <div class="col-md-12">
            <h4 style="color: #3c3c3c">富则兼济天下,穷则独善其身</h4>
        </div>
        <div class="col-md-12">
            <h5 style="color: #fff">用情怀来做技术</h5>
        </div>
        <div class="col-md-12" style="padding-top: 50px">
            <a id="blogBtn" href="/console/blogs" class="btn" title="前往博客页面" style="margin: 10px;color: #fff;border:1px solid #ffffff">博客</a>
            <a href="/console/interest/doraemon" class="btn" style="margin: 10px;color: #fff;border:1px solid #ffffff">兴趣</a>
            <a href="javascript:;" class="btn" style="margin: 10px;color: #fff;border:1px solid #ffffff">关于</a>
        </div>
    </div>
</header>