body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 0px;
}

header {
    position: fixed;
    width: 100%;
    height: 100%;
    /*background-image: url(../images/backgroud-image.jpg);*/
    /*background-size: cover;*/
    /*opacity: 0.5;*/
    /*filter:alpha(opacity=50);*/
    text-align: center;
    background-color: #093C76;
    transition: width 0.5s;
    -moz-transition: width 0.5s; /* Firefox 4 */
    -webkit-transition: width 0.5s; /* Safari 和 Chrome */
    -o-transition: width 0.5s;
}

#header_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/backgroud-image.jpg);
    background-size: cover;
    opacity: 0.5;
    filter: alpha(opacity=50);
    text-align: center;
    transition: width 0.5s;
    -moz-transition: width 0.5s; /* Firefox 4 */
    -webkit-transition: width 0.5s; /* Safari 和 Chrome */
    -o-transition: width 0.5s;
}

#header_list {
    position: relative;
    height: 100%;
    text-align: center;
    /*margin-top: 200px;*/
    padding-top: 200px;
    /*width: 30%;*/
    margin: auto;
}

#content {
    padding-left: 500px;
}

a {
    color: #00B7FF;
}

.post-list {
    margin: 0;
    padding: 30px 20px 20px 20px;
    list-style-type: none;
    text-align: left;
}

.post-list li {
    margin: 0 0 2.2em 0;
}

.post-list li:last-child hr {
    display: none;
}

.post-list__post-title {
    margin-top: 0;
    margin-bottom: .2em;
    font-size: 1.5em;
    line-height: 1.3em;
}

.post-list__post-title a {
    color: #333333;
}

.post-list__post-title a:hover {
    color: #7b0f19;
}

.post-list__meta {
    display: block;
    margin: .7em 0 0 0;
    font-size: .9em;
    color: #c7c7c7;
}

.post-list__meta--date {
    margin-right: .5em;
    color: #c7c7c7;
}

.post-list__meta--tags {
    margin-left: .5em;
}

.post-list__divider {
    width: 30%;
    margin: 2.2em 0 2.1em 0;
    border-top: 1px solid #dddddd;
}


/*doraemon style*/
.doraemon {
    position: relative;
    padding-top: 50px;
    padding-left: 200px;
}

.doraemon .head {
    position: relative;
    width: 320px;
    height: 300px;
    border-radius: 150px;
    border: 2px solid #555;
    background: #07bbee;
    box-shadow: -5px 10px 15px rgba(0,0,0,0.45);
    background: -webkit-radial-gradient(right top,#fff 10%,#07bbee 20%,#10a6ce 75%,#000);
    background: -moz-radial-gradient(right top,#fff 10%,#07bbee 20%,#10a6ce 75%,#000);
    background: -ms-radial-gradient(right top,#fff 10%,#07bbee 20%,#10a6ce 75%,#000);
}

.doraemon .face {
    position: relative;
    z-index: 2;
}

.doraemon .face .white {
    width: 265px;
    height: 195px;
    border-radius: 150px;
    position: absolute;
    top: 75px;
    left: 25px;
    background: #fff;
    background: -webkit-radial-gradient(right top,#fff 75%,#eee 80%,#999 90%,#444);
    background: -moz-radial-gradient(right top,#fff 75%,#eee 80%,#999 90%,#444);
    background: -ms-radial-gradient(right top,#fff 75%,#eee 80%,#999 90%,#444);
}

.doraemon .face .nose {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    background: #c93300;
    border: 2px solid #000000;
    z-index: 3;
    left: 140px;
    top: 110px;
}

.doraemon .face .nose .light {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    box-shadow: 15px 8px 5px #fff;
}

.doraemon .face .nose_line {
    width:3px;
    height:100px;
    background:#333;
    position:absolute;
    top:143px;
    left:155px;
    z-index:3;
}

.doraemon .face .mouth {
    width: 220px;
    height: 400px;
    border-bottom: 3px solid #333;
    border-radius: 120px;
    z-index:3;
    position: absolute;
    top:-155px;
    left:45px;
}

.doraemon .eyes {
    position: relative;
    z-index: 3;
}

.doraemon .eyes .eye{
    width:72px;
    height:82px;
    background:#fff;
    border:2px solid #000;
    border-radius:35px 35px;
    position:absolute;
    top:40px;
}

.doraemon .eyes .eye .black{
    width:14px;
    height:14px;
    background:#000;
    border-radius:7px;
    position:absolute;
    top:40px;
}
.doraemon .eyes .left{
    left:82px;
}
.doraemon .eyes .right {
    left: 156px;
}
.doraemon .eyes .eye .bleft {
    left: 50px;
}

.doraemon .eyes .eye .bright {
    left: 7px;
}